<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header_footer.css" />
    <script
      src="https://kit.fontawesome.com/8868674f05.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>

    <div>
      <h1>Recipes</h1>
      <table>
        <tr>
          <th>Recipe Name</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
        <% recipes.forEach(recipe => { %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.username %></td>
          <td>
            <a href="/recipes/<%= recipe.recipe_id %>">View Recipe</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
    <%- include('footer') %>
  </body>
</html>
